* {
	font-family: "consolas";
}

body {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	/* background-image: url('./wavy-lines.svg'); */
	background-size: cover;
	user-select: none;
}
#root {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 80px;
}
.roboto-toast {
	font-family: "Roboto, sans-serif";
}
