body {
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
	/* background-image: url('./wavy-lines.svg'); */
	background-size: cover;
	user-select: none;
}
#root {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 80px;
}
.roboto-toast {
	font-family: "Roboto, sans-serif";
}
.custom-datepicker {
	border-radius: 4px;
	font-family: "Roboto", sans-serif;
	font-size: 14px;
}
.custom-popper {
	z-index: 1400;
}

.custom-calendar {
	font-family: "Roboto", sans-serif;
	border: 1px solid #e0e0e0;
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
