:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-text-size-adjust: 100%;
}

html,
body {
	width: 300px;
	/* height: 400px; */
	padding: 0;
	margin: 0;
}

body {
	background-color: rgb(36, 36, 36);
}

body > div {
	height: 100%;
	/* display: flex; */
	/* flex-direction: column; */
	gap: 16px;
	/* align-items: center;
	justify-content: center; */
}

img {
	width: 200px;
	height: 200px;
}

h1 {
	font-size: 18px;
	color: white;
	font-weight: bold;
	margin: 0;
}

p {
	color: white;
	opacity: 0.7;
	margin: 0;
}

/*  */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	/* width: 280px;
	height: 150px; */
	font-family: "Roboto", sans-serif;
	/* background: #ffffff; */
	color: white;
	padding: 20px;
	letter-spacing: 0.8px;
}

.title {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 20px;
	/* text-align: center; */
}

.status {
	width: 100%;
	/* display: flex; */
	justify-content: space-between;
	align-items: center;
	font-size: 14px;
	font-weight: 400;
	text-align: left;
	/* padding: ; */
}

.status-text {
	color: #b2b1b1;
	font-weight: 500;
}

.status-value {
	margin-left: 8px;
	font-weight: 500;
}

.enabled {
	color: #4caf50;
}

.disabled {
	color: #f44336;
}

button {
	appearance: none;
	background-color: #4285f4;
	border: 1px solid #3367d6;
	border-radius: 6px;
	box-shadow: rgba(66, 133, 244, 0.1) 0 1px 0,
		rgba(255, 255, 255, 0.25) 0 1px 0 inset;
	box-sizing: border-box;
	color: #ffffff;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	line-height: 20px;
	list-style: none;
	padding: 6px 16px;
	position: relative;
	transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: middle;
	white-space: nowrap;
	word-wrap: break-word;
}

button:hover {
	background-color: #3367d6;
	text-decoration: none;
	transition-duration: 0.1s;
}

button:disabled {
	background-color: #94a3b8;
	border-color: #64748b;
	color: #e2e8f0;
	cursor: default;
}

button:active {
	background-color: #1e40af;
	box-shadow: rgba(30, 64, 175, 0.2) 0 1px 0 inset;
	transition: none 0s;
}

button:focus {
	outline: 1px transparent;
}

button:before {
	display: none;
}

button:-webkit-details-marker {
	display: none;
}

@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}
