name: Build and Release

on:
    push:
        tags:
            - "v*.*.*"

jobs:
    release:
        runs-on: windows-latest
        defaults:
            run:
                shell: bash
                working-directory: ./jiyuu-client
        permissions:
            contents: write
        steps:
            - name: Checkout code
              uses: actions/checkout@v5

            - name: Setup Node.js
              uses: actions/setup-node@v5
              with:
                  node-version: 20

            - name: Install Dependencies
              run: npm ci
            #   working-directory: ./jiyuu-client

            - name: Build Electron app
              env:
                  GH_TOKEN: ${{secrets.GITHUB_TOKEN}}
              run: npm run build:win
            #   working-directory: ./jiyuu-client

            - name: Upload Resources
              uses: softprops/action-gh-release@v2
              with:
                  files: |
                      jiyuu-client/dist/*.exe
                      jiyuu-client/dist/*.blockmap
                      jiyuu-client/dist/*.yaml
              env:
                  GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
