name: Build and Release

on:
    push
    # push:
    #     tags:
    #         - "v*.*.*"

jobs:
    release:
        runs-on: windows-latest
        defaults:
            run:
                shell: bash
                working-directory: ./jiyuu-client
        permissions:
            contents: write
        steps:
            - name: Checkout code
              uses: actions/checkout@v5

            - name: Setup Node.js
              uses: actions/setup-node@v5
              with:
                  node-version: 20
            - name: Build/release Electron app
              uses: paneron/action-electron-builder@v1.8.1
              with:
                  github_token: ${{ secrets.github_token }}
                  release: ${{ startsWith(github.ref, 'refs/tags/v') }}
