name: Desktop App Release

on:
    push:
        tags:
            - "v*.*.*"
            - "v*.*.*-*"

jobs:
    release:
        runs-on: windows-latest
        defaults:
            run:
                shell: bash
                working-directory: ./jiyuu-client
        permissions:
            contents: write
        steps:
            - name: Checkout code
              uses: actions/checkout@v5

            - name: Setup Node.js
              uses: actions/setup-node@v5
              with:
                  node-version: "20"
            - name: Install Dependencies
              run: npm ci

            - name: Build Electron app
              env:
                  GH_TOKEN: ${{secrets.GITHUB_TOKEN}}
              run: npm run build:win
            - name: Upload Resources
              uses: softprops/action-gh-release@v2
              with:
                  files: |
                      jiyuu-client/dist/*.exe
                      jiyuu-client/dist/*.blockmap
                      jiyuu-client/dist/*.yaml
                  body: |
                      **Important:** Only download the `.exe` file. The other files are irrelevant if you only want to use Jiyuu.
              env:
                  GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
